  @font-face {
    font-family: Vintage;
    src: url("../fonts/VINTAGE\ COLLEGE\ DEPT_worn.otf") format("truetype");
  }
  
  @font-face {
    font-family: LemonMilk;
    src: url("../fonts/LemonMilk.otf") format("truetype");
  }
  
  @font-face {
    font-family: Smythe;
    src: url("../fonts/Smythe-Regular.ttf") format("truetype");
  }
  
  $lemonMilk: "font-family", LemonMilk;
  $vintage: "font-family", Vintage;
  $smythe: "font-family", Smythe;


  $colors:(
    "dark_background": #1A2129,
    "red_header": #FD695E,
    "light_text": #E6E6E6,
  )