@use "/scss/config.scss" as v;
@use "/scss/classes.scss";
@use "/scss/menu.scss";
@import "/scss/mixins.scss";

@function color($color-name) {
  @return map-get(v.$colors, $color-name);
}

//  GENERAL
*{
  scroll-behavior: smooth;
}

body {
  background-color: color(dark_background);
}

a {
  text-decoration: none;
  color: color(red_header);
}

.subheader {
  @include subheaders();
}

.beer_name {
  font-size: 1.8rem;
  font-family: v.$smythe;
  color: color(red_header);
}

p {
  font-size: 1.2rem;
  font-family: v.$smythe;
  color: color(light_text);
}

// FRONT PAGE
.frontpage_sectionwrapper {
  height: 100vh;
  @include flexCenter();
}

.logo {
  @include displayLogo();
  .firstfade {
    @include firstFade();
  }
  .lastfade {
    @include lastFade();
  }
}

.button_wrapper {
  .order_button {
    @include buttons();
  }
}



// ALL BEERS PAGE
#top_section {
  text-align: center;
}

.logo_all_beers {
  @include displayLogo();
  margin: 2rem 0;
  .firstfade {
    @include firstFade();
  }
  .lastfade {
    @include lastFade();
  }
}

.beers_container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: 5vw;

  ul {
    grid-column: 2;
    list-style-type: none;
  }

  li {
    display: flex;
    flex-wrap: wrap;
  }

  .item-wrapper {
    width: 32%;
    margin: 0 auto 5vw auto;
    box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 42%);

    .img-wrapper {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }

    .beertxt {
      display: grid;
      grid-template-areas:
        ". ."
        "bl br";
        margin: 0 15px 15px 15px;

      .beer_type {
        grid-area: bl;
      }

      .price {
        grid-area: br;
        text-align: end;
        color: rgb(155, 255, 155);
      }
    }
  }
}



// #testsection{
//   display: grid;
// }

// .test-wrapper1,
// .test-wrapper2,
// .test-wrapper3{
// @include flexCenter();
//   img{
//   position: relative;
//   }
//   .beer_label{
//   width: 25vw;
//   height: auto;
//   left: 7vw;
//   } 
//   .pilsner{
//   width: 29vw;
//   height: auto;
//   top: 3vw;
//   left: -6vw;
//   }
// }