@use "/scss/config.scss" as v;
@use "/scss/classes.scss";
@use "/scss/menu.scss";
@use "/scss/help.scss";
@import "/scss/mixins.scss";

@function color($color-name) {
  @return map-get(v.$colors, $color-name);
}

h3 {
  color: color(red_header);
  font-family: v.$lemonMilk;
  margin-left: 6vw;
}

.order_list {
  height: auto;
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin-left: 6vw;
}

.container {
  display: grid;
  grid-template-areas:
    "name price"
    "add re";
  margin-bottom: 4vw;

  justify-content: space-between;
  .beer_name {
    grid-area: name;
  }
  .price {
    color: rgb(155, 255, 155);
  }

  button {
    @include buttons();
  }
}

.total_container {
  display: flex;
  margin-top: 2vw;
  a {
    @include buttons();
    margin-left: 30vw;
    margin-bottom: 5vw;
    @include for-tablet-portrait-up {
      margin-left: 35vw;
    }
  }
}

.payment_container {
  text-align: center;
  h1 {
    color: color(red_header);
    font-family: v.$lemonMilk;
    margin-bottom: 5vw;
  }
  .icon_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include for-phone-only {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    div {
      width: 27vw;
      background: linear-gradient(135deg, #5a5a5a, 12%, white);
      border-radius: 4vw;
      box-shadow: 3px 3px 25px 5px rgba(255, 255, 255, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1;
      margin-bottom: 4vw;

      img {
        width: 45%;
      }
    }
  }
}

.card_container {
  display: none;
  margin-bottom: 4vw;
}

#form_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 3vw vw 3vw;
  gap: 1vw;
}
.submit_container {
  margin: auto;
  width: 25vw;
  #submit {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
}
input {
  :valid {
    border-color: #2bff0063;
  }
  :invalid:focus {
    border-color: #ff000063;
  }
}

#back_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10vw;
  #back {
    @include buttons();
  }
}

.jp-card:not(.jp-card-identified) .jp-card-front,
.jp-card:not(.jp-card-identified) .jp-card-back {
  background: #adadad !important;
}

.hide {
  display: "none";
}

#error_number {
  position: absolute;
  color: color(red_header);
  font-family: v.$lemonMilk;
  left: 3.5vw;
  top: 62vw;
  @include for-tablet-portrait-up {
    font-size: 0.8rem;
    top: 62.5vw;
    left: 22vw;
  }
  @include for-tablet-landscape-up {
    top: 47.9vw;
    left: 29vw;
  }
  @include for-phone-only {
    top: 121.4vw;
    font-size: 0.8rem;
    left: 1.5vw;
  }
}
#error_name {
  position: absolute;
  color: color(red_header);
  font-family: v.$lemonMilk;
  right: 29.5vw;
  top: 62vw;
  @include for-tablet-portrait-up {
    font-size: 0.8rem;
    top: 62.5vw;
    right: 33.5vw;
  }
  @include for-tablet-landscape-up {
    top: 47.9vw;
    right: 37.5vw;
  }
  @include for-phone-only {
    top: 121.4vw;
    font-size: 0.8rem;
    right: 16.5vw;
  }
}
#error_exp {
  position: absolute;
  color: color(red_header);
  font-family: v.$lemonMilk;
  left: 3.5vw;
  top: 71vw;
  @include for-tablet-portrait-up {
    font-size: 0.8rem;
    top: 70.3vw;
    left: 22vw;
  }
  @include for-tablet-landscape-up {
    top: 53.7vw;
    left: 29.1vw;
  }
  @include for-phone-only {
    top: 137.5vw;
    font-size: 0.7rem;
    left: 1.5vw;
  }
}
#error_cvc {
  position: absolute;
  color: color(red_header);
  font-family: v.$lemonMilk;
  right: 31vw;
  top: 71vw;
  @include for-tablet-portrait-up {
    font-size: 0.8rem;
    top: 70.3vw;
    right: 34.5vw;
  }
  @include for-tablet-landscape-up {
    right: 38.4vw;
    top: 53.7vw;
  }
  @include for-phone-only {
    top: 137.5vw;
    font-size: 0.8rem;
    right: 19vw;
  }
}
.thanks {
  @include flexCenter();
  height: 40vw;
  h1 {
    margin-top: 5vw;
    font-family: v.$lemonMilk;
    color: color(red_header);
  }
  h2 {
    @include for-phone-only {
      text-align: center;
    }
    margin-top: 5vw;
    font-family: v.$lemonMilk;
    color: color(red_header);
  }
  p {
    margin-top: 5vw;
    font-size: 2rem;
  }
}
.scan_container {
  @include flexCenter();
  font-family: v.$lemonMilk;
  color: color(red_header);
}

.qr_container {
  @include flexCenter();
  margin: 5vw 0vw 5vw 0vw;

  img {
    @include for-tablet-landscape-up {
      width: 20vw;
    }
    width: 30vw;
    height: auto;
  }
}
